$main-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
$main-white: #fff;
$main-blue: #4070f4;
$secondary-blue:#265df2;
$background-root: #bcc7c7;
$background-disabled: #888886;
$font-title: 27px;
$font-svg: 23px;
$font-input: 16px;
$font-btn: 17px;
$font-text: 14px;
$font-text-mini: 10px;
$color-error: #b9747e;